* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5rem;
}



:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    
    --clr-accent-800: hsl(213, 80%, 23%);
    --clr-accent-700: hsl(235, 42%, 26%);
    --clr-accent-500: hsl(235, 47%, 40%);
    --clr-accent-400: hsl(235, 61%, 57%);
    --clr-accent-300: hsl(235, 63%, 61%);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 800;

    --fs-100: 0.65rem;
    --fs-300: 0.825rem;
    --fs-350: 1rem;
    --fs-400: 1.5rem;
    --fs-450: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
    --fs-900: 5vw;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    max-width: 1400px;
    padding: 1.2rem;
    top: 0;
    z-index: 1000;
}



h1 {
    font-size: clamp(2.5rem, 5vw, 2.75rem); 
    font-weight: var(--fw-regular);
}

h2 {
    font-size: var(--fs-450);
    font-weight: var(--fw-regular);
}


nav {
    display: flex;
    align-items: center;
    gap: 4rem; 
    color: var(--clr-neutral-100);
    
}


ul {
    list-style: none; 
    padding: 0;       
    margin: 0;        
}

button {
    border: none;
    background-color: var(--clr-neutral-100);
    border-radius: 2rem;
    width: 150px;
    height: 40px;
    font-size: var(--fs-300);
    color: var(--clr-accent-800);
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--clr-accent-300);
    color: var(--clr-neutral-100);
    height: 3rem;
}

input::before {
    position: absolute;
    background: red;
    z-index: 10;
    height: 20px;
    width: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-accent-700);
    gap: 0;
    width: 100%;
    max-width: 100%;

}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--clr-neutral-100);
    width: 100%;
    max-width: 1400px;
}


@media (max-width: 768px) {
    .job-details{
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;
    }


  }

  @media (max-width: 972px) {
    nav {
        display: none;
    }

  }




.logo {
    height: 47px;
    z-index: 1001;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(309deg) brightness(101%) contrast(102%);
    animation: change-color-logo 1s linear both;
    animation-timeline: scroll(); 
    
}




ul.navbar {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-right: 1rem;
    list-style-type: none;
    padding: 0;
    font-size: var(--fs-350);
    

}

.navbar a {
    color: var(--clr-neutral-100);
}


.hero-container {
    display: flex;
    flex-direction: row;
    z-index: 5;
    padding: 1rem;
}

.container {
    width: 100%;
    margin-top: 2rem;
}

.hero {
    margin-top: 5.5rem;
    width: 100%;
}


.hero-subtitle, .job-description {
    max-width: 80ch;
    font-size: var(--fs-350);
    font-weight: var(--fw-light);
    word-wrap: wrap;
}
.job-description {
    max-width: 65ch;

}


.joblist {
    margin-top: 8rem;
    margin-bottom: 12rem;
}

.job {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--clr-accent-300);
    padding: 1rem 0 3rem 0;

}

.job-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.job-details button {
    width: 185px;
    height: 50px;
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
}

.social-hero {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.social-hero p {
    font-size: var(--fs-300);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-orientation:sideways;
}

.social-hero li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.imagefiller {
    z-index: 0;
    background-color: rebeccapurple;
    max-width: 100%;
    height: 600px;
    overflow: hidden;

}

.imagefiller img {
    z-index: 0;
    max-width: 100%;
    translate: 0px -100px;
}

.life-at-premium {
    width: 100%;
    max-width: 100%;
    margin-top: -5rem;
}

.who-are-we {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10rem;
    height: 50rem;
    background-color: var(--clr-accent-400);
    border-radius: 0 100px 0 100px;
    z-index: 2;

    max-width: 100%;
    
}

.who-are-we-container {
    line-height: 2rem;
    height: 200px;
    color: white;
    width: 320px;
}

.who-are-we-graphics {
    height: 500px;
    width: 500px;
    background-color: var(--clr-accent-300);
}

.join-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    width: 100%;
    background-color: var(--clr-accent-500);
    margin-top: -7rem;
    z-index: 1;
}





.join-us-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 100%; 
    max-width: 980px;
}


.image-tiago {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
}


.recruiter {
    width: 100%; 
    max-width: 400px;
}

.recruiter-tiago {
    display: flex;
    margin-top: 2rem;
}

.welcoming {
    margin-left: 1rem;

}



.form {
    position: relative;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

input {
    padding-top: 10px;
    border: none; 
    outline: none; 
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease; 
}

.input-container input,
.input-container textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--clr-accent-300);
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--clr-neutral-100);
    transition: all 0.3s ease; 
}

.labels {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    font-size: var(--fs-100);
    pointer-events: none; 
    transition: all 0.3s ease; 
    color: var(--clr-neutral-100); 
    padding-left: 0.2rem;
    outline: none;
    border: none;
}

.input-container textarea {
    background: none;
    width: 100%;
    outline: none;
    z-index: 10;
    padding-top: 1.3rem;
    
}

/* Tentar refatorizar - hardcoded.*/
.textarea-label {
    top: 10%;
}

.input-container input:focus + label,
.input-container textarea:focus + label{
    font-size: 0.5rem;
    top:0%;
}

.input-container input:hover,
.input-container textarea:hover {
    background-color: rgb(255, 255, 255, 0.05);
}

.input-container input:focus,
.input-container textarea:focus {
    background-color: rgb(255, 255, 255, 0.10);
}


input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    background-color: none;
    border: 1px var(--clr-neutral-100);
    border-radius: 1px;
    height: 10px;
}

.file-info {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.check.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


button.submit {
    margin-top: 2rem;
    margin-bottom: 1rem;
    right: auto;
    max-width: 100px;
    color: var(--clr-accent-500);
}


.recaptcha-info a{
    color: white;
    font-size: 0.5rem;
}

.recaptcha-info {
    font-size: 0.5rem;
}

.where-are-we {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    height: 350px;
    width: 100%; 
    max-width: 980px;
    background-color: var(--clr-accent-500);
    margin-top: -175px;
    margin-bottom: -175px;
    z-index: 1; 
    top: 50%;   
    left: 50%;  
    transform: translate(-50%, 0);
    border-radius: 10px 0px 50px 10px;
    padding-left: 30px;
}


.location-info-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5rem;
}

.location-info-container h2{
    width: 15ch;
    font-size: 2rem;
    line-height: 2.5rem;
}


.location-maps {
    height: 100%;
    width: 300px;
    background: white;
    border-radius: 0 0px 50px 0;
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: var(--clr-accent-800);
    
}

.footer-container {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 100%; 
    max-width: 980px;
    
    border-bottom: 1px solid var(--clr-accent-300);
    margin-top: 14rem;
    margin-bottom: 8rem;
}


.simple-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding-top: 2rem;
}

.links p{
    width: 20ch;
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: white;
    line-height: 2rem;
    margin-bottom: 2rem;
}


.links-containers{
    display: flex;
    gap: 5rem;
    margin-right: 5rem;
}

.company-list a,
.programs-list a{
    gap: 1.5rem;
    color: white;
}

.links-button {
    background-color: white;
    color: var(--clr-accent-800);
}

.list-title {
    color: var(--clr-accent-500);
}

.social-footer {
    display: flex;
    height: 100px;
    width: 300px;
    justify-content: center;
    gap: 1rem;
    align-items: center;

}

.social-footer li {
    display: flex;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.social-footer a {
    color: var(--clr-accent-800);
}

.logo-simples {
    height: 50px;
    margin-right: auto;
}