* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5rem;
    list-style-type: none;
}



:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    
    --clr-accent-800: rgb(12, 33, 59);
    --clr-accent-700: rgb(38, 43, 94);
    --clr-accent-500: hsl(235, 47%, 40%);
    --clr-accent-400: hsl(235, 61%, 57%);
    --clr-accent-300: hsl(235, 63%, 61%);

    --fw-light: 300;
    --fw-regular: 500;
    --fw-bold: 800;

    --fs-100: 0.65rem;
    --fs-300: 0.825rem;
    --fs-350: 1rem;
    --fs-375: 1.25rem;
    --fs-400: 1.5rem;
    --fs-450: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
    --fs-900: 5vw;

    --cw-max: 1320px;
    --cw-medium: 992px;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 2.75rem); 
    font-weight: var(--fw-regular);
}

h2 {
    font-size: var(--fs-450);
    font-weight: var(--fw-regular);
}


ul {
    list-style: none; 
    padding: 0;       
    margin: 0;        
}

button {
    border: none;
    background-color: var(--clr-neutral-100);
    border-radius: 2rem;
    width: 150px;
    height: 40px;
    font-size: var(--fs-300);
    color: var(--clr-accent-800);
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--clr-accent-300);
    color: var(--clr-neutral-100);
    height: 3rem;
}

input::before {
    position: absolute;
    background: red;
    z-index: 10;
    height: 20px;
    width: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-accent-700);
    gap: 0;
    width: 100%;
    max-width: 100%;

}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--clr-neutral-100);
    width: 100%;
    max-width: 1400px;
}

/*-------------------------------HEADER-----------------------------------*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    max-width: 1320px;
    padding: 20px 8px 0px 8px;
}

.logo {
    scale: 1.25;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;
    font-weight: var(--fw-regular);
    font-size: var(--fs-350);
}

.navbar a {
    color: var(--clr-neutral-100);
}

.we-are-hiring {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 146px;
    border-radius: 20px;
    background-color: var(--clr-neutral-100);
    color: black;
    margin-left: 56px;
}

.we-are-hiring a{
    color: var(--clr-accent-800);
    font-size: var(--fs-300);
}

.hero-container {
    display: flex;
    flex-direction: row;
    z-index: 5;
    padding: 1rem;
}

.container {
    width: 100%;
    margin-top: 2rem;
    padding: 2.5rem 2rem 2rem 2.5rem;
}

.hero {
    margin-top: 5.5rem;
    width: 100%;
}


.hero-subtitle, .job-description {
    max-width: 80ch;
    font-size: var(--fs-350);
    font-weight: var(--fw-light);
    word-wrap: wrap;
}
.job-description {
    max-width: 65ch;

}


.joblist {
    margin-top: 8rem;
    margin-bottom: 12rem;
}

.job {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--clr-accent-300);
    padding: 1rem 0 3rem 0;

}

.job-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.job-details button,
.who-are-we-container button {
    width: 185px;
    height: 50px;
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
}

.social-hero {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.social-hero p {
    font-size: var(--fs-300);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-orientation:sideways;
}

.social-hero li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.imagefiller {
    z-index: 0;
    width: 100%;
    height: 40rem;
    overflow: hidden;

}

.imagefiller img {
    z-index: 0;
    width: 100%;
    translate: 0px -100px;
    scale: 1.2;
}

.life-at-premium {
    width: 100%;
    max-width: 100%;
    margin-top: -5rem;
}

.who-are-we {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;
    background-color: var(--clr-accent-400);
    border-radius: 0 100px 0 100px;
    z-index: 2;
    max-width: 100%;

}

.who-are-we-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 5rem;
    height: 30rem;
    color: white;
    width: 45ch;
}

.who-are-we-container p {
    width: 35ch;
}

.who-are-we-container h2 {
    font-size: 3rem;
    line-height: 3rem;
}

.who-are-we-container button {
    margin-top: 1rem;
}

.who-are-we-graphics {
    height: 600px;
    width: 800px;
    background-color: var(--clr-accent-300);
}

.join-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-accent-500);
    margin-top: -7rem;
    z-index: 1;
    width: 100%;
    max-width: 100%;
}





.join-us-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 1400px;
    width: 100%;
}

.image-tiago {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
}

.recruiter {
    width: 100%; 
    max-width: 600px;
}

.recruiter h2 {
    font-size: 2.75rem;
    line-height: 3rem;
}

.recruiter-tiago {
    display: flex;
    margin-top: 2rem;
}

.welcoming {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;

}

.welcoming a {
    color: var(--clr-neutral-100)
}

.welcoming h3 {
    font-size: var(--fs-350);
    font-weight: var(--fw-bold);
}

.welcoming p {
    font-size: var(--fs-300);
    font-weight: var(--fw-light);
}

.form {
    max-width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input {
    padding-top: 10px;
    border: none; 
    outline: none; 
}

.input-container {
    position: relative;
    width: 500px;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease; 
}

.input-container label {
    font-size: var(--fs-350);
    font-weight: var(--fw-light);
}

.input-container input,
.input-container textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--clr-accent-300);
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--clr-neutral-100);
    transition: all 0.3s ease; 
}

.labels {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    font-size: var(--fs-100);
    pointer-events: none; 
    transition: all 0.3s ease; 
    color: var(--clr-neutral-100); 
    padding-left: 0.2rem;
    outline: none;
    border: none;
}

.input-container textarea {
    background: none;
    width: 100%;
    outline: none;
    z-index: 10;
    padding-top: 1.3rem;
    
}

/* Tentar refatorizar - hardcoded.*/
.textarea-label {
    top: 10%;
}

.input-container input:focus + label,
.input-container textarea:focus + label{
    font-size: 0.5rem;
    top:0%;
}

.input-container input:hover,
.input-container textarea:hover {
    background-color: rgb(255, 255, 255, 0.05);
}

.input-container input:focus,
.input-container textarea:focus {
    background-color: rgb(255, 255, 255, 0.10);
}


input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    background-color: none;
    border: 1px var(--clr-neutral-100);
    border-radius: 1px;
    height: 10px;
}

.file-info {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.check.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


button.submit {
    margin-top: 2rem;
    margin-bottom: 1rem;
    right: auto;
    max-width: 100px;
    color: var(--clr-accent-500);
}


.recaptcha-info a{
    color: white;
    font-size: 0.5rem;
}

.recaptcha-info {
    font-size: 0.5rem;
}

.where-are-we {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
    max-width: 1300px;
    background-color: var(--clr-accent-500);
    margin-top: -225px;
    margin-bottom: -225px;
    z-index: 1;
    border-radius: 10px 0px 100px 10px;
    margin-left: auto;   
    margin-right: auto; 
}

.location-info-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5rem;
}

.location-info-container h2{
    width: 15ch;
    font-size: 2.75em;
    line-height: 3rem;
}

.location-info {
    font-size: 1.2rem;
}

.location-info p {
    line-height: 2rem;
}

.location-maps {
    height: 100%;
    width: 650px;
    background: white;
    border-radius: 0 0px 100px 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: var(--clr-accent-800);
    
}

.footer-container {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 100%; 
    max-width: 1300px;
    
    border-bottom: 1px solid var(--clr-accent-300);
    margin-top: 17rem;
    margin-bottom: 8rem;
}


.simple-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding-top: 2rem;
}

.links p{
    width: 20ch;
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: white;
    line-height: 2rem;
    margin-bottom: 2rem;
}


.invite-links-container p {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: var(--fw-regular);
    
}



.links-containers{
    display: flex;
    gap: 15rem;
    margin-right: 5rem;
}

.company-list a,
.programs-list a{
    gap: 1.5rem;
    color: white;
}

.links-button {
    background-color: white;
    color: var(--clr-accent-800);
}

.list-title {
    color: var(--clr-accent-300);
}

.social-footer {
    display: flex;
    height: 100px;
    width: 300px;
    justify-content: center;
    gap: 1rem;
    align-items: center;

}

.social-footer li {
    display: flex;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.social-footer a {
    color: var(--clr-accent-700);
}

.logo-simples {
    height: 50px;
    margin-right: auto;
}





.hexagon-wrapper {
    position: absolute;
    width: 100%; /* Set the desired container width */
    height: 800px; /* Set the desired container height */
    overflow: hidden; /* Hide overflow of the hexagon */
  }
  
  .hexagon {
    position: absolute;
    height: 800px;
    width: 800px;
    background-color: var(--clr-accent-500);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    z-index: 0;
    transform: translate(320px, -450px ) rotate(15deg); /* You can combine the transformations */
  }

  .second {
    background-color: var(--clr-accent-500);
    transform: translate(1040px, -225px ) rotate(-15deg);
    height: 650px;
    width: 650px;
  }

  .third {
    background-color: var(--clr-accent-500);
    transform: translate(1650px, -275px ) rotate(-15deg);
    height: 650px;
    width: 650px;
  }

  .fourth {
    background-color: yellow;
    transform: translate(350px, -550px ) rotate(-15deg);
    height: 200px;
    width: 200px;

  }




  @media (max-width: 768px) {
    .job-details{
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;
    }
  }

  @media (max-width: 992px) {
    .navbar,
    .social-hero {
        display: none;
    }
  }